.wrapp {
    max-width: 1120px;
    align-items: center;
    margin: auto;
}

.bookHeader {
    margin-bottom: 20px;
}

.upDescription {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftUp {
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: #FEE9E2;
    position: relative;
}

.bookImg {
    max-width: 300px;
    height: 350px;
}

.rightUp {
    width: 500px;
}

.priceStars {
    font-family: Bebas Neue;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
}

.liTitel {
    font-family: Helios;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #A8A8A8;
}

.liDiscribe {
    font-family: Helios;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;
    color: #313037;
}

.status_button {
    height: 45px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 45px;
    background: #FEE9E2;
    cursor: pointer;
}

.discribeLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.addToBusketBtn {
    border: none;
    width: 100%;
    font-family: Bebas Neue;
    color: #FFFFFF;
    background-color: #313037;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    padding: 10px;
}
